.list-of-users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid red; */
}

.card-users {
    border: 2px solid goldenrod;
    min-width: 90%;
    min-height: 80%;
    margin: 10px;
    background-color: white;
}

.card-detail {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.font-awesome-icon {
    color: coral;
}