.btn-submit-button {
    background-color: goldenrod;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 5px;
    padding: 10px 40px;
}

.auto-complete-users {
    display: flex;
    margin-top: 10px; 
}

.user-title {
    padding-left: 5px;
}